<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772912958995-ch2vhs4juj383l04vhjecitferj88uin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772912958995-ch2vhs4juj383l04vhjecitferj88uin</string>
	<key>API_KEY</key>
	<string>AIzaSyDExoC5gbbsig4w_IUiCfco6R-gkO0tmRw</string>
	<key>GCM_SENDER_ID</key>
	<string>772912958995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.protego</string>
	<key>PROJECT_ID</key>
	<string>protego-ad4da</string>
	<key>STORAGE_BUCKET</key>
	<string>protego-ad4da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772912958995:ios:549c6279977a604e5c79e6</string>
	<key>DATABASE_URL</key>
	<string>https://protego-ad4da-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>